* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav,
.nav-links {
    display: flex;
    align-items: center;
}

.nav {
    background-color: rgb(51, 51, 51);
    color: white;
    height: 80px;
    width: 1000px;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    list-style-type: none;
    justify-content: space-around;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: rgb(23, 162, 184);
    color: white;
    border: 2px solid black;
    font-size: 16px;
    box-shadow: 5px 5px black;
}
